PORT=3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
FE_URL=""

# Discord Sections
CLIENT_ID=""
CLIENT_SECRET=""
REDIRECT_URI=""

OWNER_ID=""

# Spotify Section
SPT_CLIENT_ID=""
SPT_CLIENT_SECRET=""
SPT_REDIRECT_URI=""